@import "~bootstrap/scss/bootstrap-flex";

.invert {
  background: black;
  color: white;
 
  .form-control {
    background: black;
    border-color: white;
    color: white;
    border-radius: 0;
    border-width: 2px;
  }
}

.panel {
  height: 100%;
  overflow-y: auto;
  padding: 16px;
}